<!DOCTYPE html>
<html>

<head>
    <script src="../public/script.js"></script>
    <link href="/css/main.style.css" type="text/css" rel="stylesheet">
    <link rel="icon" href="/images/logo.ico" type="image/gif" sizes="16x16">
</head>

<body>
    <div id="feedback-form">
        <div class="logo">
            <img src="/images/logo.png" width="50%">
            <h4 style="margin-left: 8%;">Finance Bot</h4>
            <br>
            <br>
        </div>
        <h4 style="margin: 9%;">Missing or wrong credentials!</h4>
    </div>
</body>

</html>