<!DOCTYPE html>
<html>

<head>
    <script src="../public/script.js"></script>
    <link href="/css/main.style.css" type="text/css" rel="stylesheet">
    <link rel="icon" href="/images/logo.ico" type="image/gif" sizes="16x16">
</head>

<body>
    <div id="feedback-form">
        <div class="logo">
            <img src="/images/logo.png" width="50%">
            <h4 style="margin-left: 8%;">Finance Bot</h4>
        </div>

        <div>
            <form action="/login" method="post">
                <input type="text" name="username" placeholder="username"></input>
                <input type="password" name="password" placeholder="password"></input>
                <input type="text" name="name" placeholder="Name"></input>
                <button type="submit">Chat Now!</button>
            </form>
        </div>
    </div>
</body>

</html>